### TeamName: 500 days of training

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Importing all the csv as dataframes

ride_ids = pd.read_csv("./ride_ids.csv")
driver_ids = pd.read_csv("./driver_ids.csv")
driver_timestamps = pd.read_csv("./ride_timestamps.csv")

# Questions asked and their progress
1. Number of rides - Cumulative - In Progress
2. Number of rides each day - In Progress
3. Time for the first ride from onboard - Not started
4.  Time at which rides were taken - More exploratory related to the timings 
5. (What is ride prime time and questions around that) - Surcharge.. cost of a ride changed according to prime time
6. Questions around distance- More exploratory
7. Percentage of prime time in the ride (Cumulative percentage etc) 
8. Time between accepting the ride and the arriving .- Done w.r.t data. Need to explore
9. Travel time - More exploratory
10. Compute value of a ride - Done

In [30]:
# Supporting functions

def costOfTrip(dist, time, prime_time):
    service_charge = 1.75
    base_cost = 2
    cost_by_dist = (dist* 0.000621371) * 1.15
    cost_by_time = time * (0.22/60)
    cost_prime_time = prime_time * (0.22/60)
    total_cost = service_charge + base_cost + cost_by_dist + cost_by_time + cost_prime_time
    if total_cost < 5:
        return 5
    if total_cost > 400:
        return 400
    return total_cost

In [31]:
ride_ids["trip_cost"] = ride_ids.apply(lambda x: costOfTrip(x["ride_distance"], x["ride_duration"], x["ride_prime_time"]), axis=1)

In [32]:
total_trips = ride_ids.groupby('driver_id').size().reset_index(drop=False)
total_trips.columns = ["driver_id", "total_trips"]
grp_sum = ride_ids.groupby('driver_id').cumsum().set_index(ride_ids.driver_id).reset_index(drop=True)
grp_sum.columns = ["cumulative_ride_distance", "cumulative_ride_duration", "cumulative_ride_prime_time", "cumulative_trip_cost"]

In [33]:
ride_ids[grp_sum.columns] = grp_sum

In [37]:
ride_ids.tail()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,trip_cost,cumulative_ride_distance,cumulative_ride_duration,cumulative_ride_prime_time,cumulative_trip_cost
193497,ffff51a71f2f185ec5e97d59dbcd7a78,fc717192b3512767269ff5a54b97af05,10127,1336,0,15.885184,2357560,265655,6525,3906.194906
193498,ffff51a71f2f185ec5e97d59dbcd7a78,fd6fa5f9265d2cf83936ead663f9e0e7,1908,445,0,6.745079,2359468,266100,6525,3912.939985
193499,ffff51a71f2f185ec5e97d59dbcd7a78,fe0857c43025264d337dfe1d8463e503,4039,875,0,9.844508,2363507,266975,6525,3922.784493
193500,ffff51a71f2f185ec5e97d59dbcd7a78,ff0db0ca4557bf5b05b4da6f660a1ac1,4760,777,0,10.000385,2368267,267752,6525,3932.784878
193501,ffff51a71f2f185ec5e97d59dbcd7a78,ff7dc29693f8c79ff103d350a7b6c157,3751,889,100,10.056710,2372018,268641,6625,3942.841588

In [38]:
ride_ids = ride_ids.merge(total_trips, on="driver_id", how="inner").reset_index(drop=True)

In [39]:
ride_ids.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,trip_cost,cumulative_ride_distance,cumulative_ride_duration,cumulative_ride_prime_time,cumulative_trip_cost,total_trips
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,6.426432,1811,327,50,6.426432,277
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,9.118740,5173,1136,50,15.545172,277
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,8.192574,8455,1708,50,23.737746,277
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,62.730707,73738,5046,75,86.468453,277
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,10.074816,77853,5869,175,96.543269,277

In [40]:
driver_ids["driver_onboard_date"] = pd.to_datetime(driver_ids["driver_onboard_date"])
driver_timestamps["timestamp"] = pd.to_datetime(driver_timestamps["timestamp"])

In [41]:
#driver_timestamps = driver_timestamps.assign(
    #timediff = driver_timestamps.sort_values('timestamp', ascending=False).groupby("ride_id").timestamp.diff(-1).dt.seconds.fillna(0)
#)

# This approach didnt work because some of the times werent in order between the events for a ride

In [42]:
df_pivot = driver_timestamps.pivot(index="ride_id", columns="event")
driver_timestamps = pd.DataFrame(df_pivot.to_records())
driver_timestamps.columns = ["ride_id", "accepted_at_time", "arrived_at_time", "dropped_off_time", "picked_up_time", "requested_at_time"]

In [43]:
driver_timestamps.columns = ["ride_id", "accepted_at_time", "arrived_at_time", "dropped_off_time", "picked_up_time", "requested_at_time"]
driver_timestamps["time_to_accept"] = (driver_timestamps["accepted_at_time"] - driver_timestamps["requested_at_time"]).dt.seconds.fillna(0)
driver_timestamps["time_to_arrive"] = (driver_timestamps["arrived_at_time"] - driver_timestamps["accepted_at_time"]).dt.seconds.fillna(0)
driver_timestamps["time_for_customer_to_arrive"] = (driver_timestamps["picked_up_time"] - driver_timestamps["arrived_at_time"]).dt.seconds.fillna(0)

In [44]:
# Merge the dataframes , to get one master dataframe.
merged_intermediate = ride_ids.merge(driver_ids, on="driver_id", how="outer")
full_df = merged_intermediate.merge(driver_timestamps, on="ride_id", how="outer")

In [45]:
# Inferences
# There are 83 drivers who dont have a ride (in driver_id dataframe but not in ride_ids)
# There are 83 drivers who dont have onboard date (in ride_id df but not in driver_id)

In [46]:
full_df.isna().apply(lambda x: sum(x))

driver_id                       9262
ride_id                           83
ride_distance                   9345
ride_duration                   9345
ride_prime_time                 9345
trip_cost                       9345
cumulative_ride_distance        9345
cumulative_ride_duration        9345
cumulative_ride_prime_time      9345
cumulative_trip_cost            9345
total_trips                     9345
driver_onboard_date            16873
accepted_at_time                8766
arrived_at_time                 8767
dropped_off_time                8766
picked_up_time                  8766
requested_at_time               8766
time_to_accept                  8766
time_to_arrive                  8766
time_for_customer_to_arrive     8766
dtype: int64

In [47]:
# Get the difference from onboard time to the last ride time

last_ride_in_df = max(full_df["accepted_at_time"])

In [48]:
full_df["time_at_lyft"] = (last_ride_in_df-full_df["driver_onboard_date"]).dt.days

In [49]:
max(full_df["time_at_lyft"])

90.0

In [50]:
min(full_df["time_at_lyft"])

42.0

In [51]:
no_onboard_date_drivers = list(set(ride_ids.driver_id.unique()).difference(set(driver_ids.driver_id.unique())))

In [56]:
no_ride_drivers = list(set(driver_ids.driver_id.unique()).difference(set(ride_ids.driver_id.unique())))

In [57]:
len(no_onboard_date_drivers)

83